# Porta onde a API vai rodar
PORT=3000

# URL do Frontend permitida pelo CORS
FRONTEND_URL=http://localhost:5173

# URL do Banco de Dados
# PostgreSQL (Render / Supabase / Neon / Local):
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require"

